<div class="bodyTitle" style="padding-left:20px;">最新消息</div>
<div class="panel panel-default" style="margin-bottom:0;">
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td style="text-align:center;vertical-align:middle;">
                        日期
                    </td>
                    <td style="text-align:center;vertical-align:middle;">
                        類型
                    </td>
                    <td>
                        內容
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nowList in home.myPage.nowList">
                    <td style="width:170px;text-align:center;vertical-align:middle;">{{(nowList.InsertDate|date:'yyyy')-1911}}-{{nowList.InsertDate|date:'MM'}}-{{nowList.InsertDate|date:'dd'}}</td>
                    <td  style="width:150px;text-align:center;vertical-align:middle;">{{nowList.NewsType}}</td>
                    <td  style="vertical-align:middle;">{{nowList.NewsContent}}</td>
                </tr>
            </tbody>
        </table>
        <div style="width:100%;text-align:center;min-height:47px;" ng-show="home.myPage.pageShow">
            <uib-pagination total-items="home.myPage.totalItems.length"
                            ng-model="home.myPage.currentPage"
                            items-per-page="home.myPage.itemsPerPage"
                            max-size="home.myPage.maxSize"
                            class="pagination-lg"
                            boundary-links="true"
                            previous-text="上一頁"
                            next-text="下一頁"
                            first-text="<<"
                            last-text=">>">
            </uib-pagination>
        </div>
    </div>
</div>